
<div class="container p-6">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <HR width="50%">
      <div class="card text-center">
        <div class="card-header ">
          <h3>Cambiar password</h3>
        </div>
        <div class="card-body">
          <form action="/usuarios/CambiaPassword" method="POST">
                      
            <div class="row">
              <div class="col-md-4">
                Usuario:
              </div>
              <div class="col-md-8">
                <input type="text" name="id_usuario" placeholder="id Usuario"  value={{usuario.id_usuario}} maxlength = "50"  class="form-control" autocomplete="off" disabled required autofocus>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 align-bottom">
                Password anterior:
              </div>
              <div class="col-md-8">
                <input type="text" name="pass_anterior" placeholder="Password anterior"  maxlength = "50" class="form-control" required >
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                Nuevo password
              </div>
              <div class="col-md-8">
                <input type="text" name="pass_nuevo" placeholder="Nuevo password"  maxlength = "50" class="form-control" required >
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                Repetir nuevo password:
              </div>
              <div class="col-md-8">
                <input type="text" name="pass_repite" placeholder="Repetir nuevo password"  maxlength = "50" class="form-control" required>
              </div>
            </div>

            <HR>
            <div class="row">
              <div class="col-md-12">
                <td>
                
                  <button class="btn btn-success btn-block">Guardar cambios</button>
                  {{!--  
                  <a onsubmit="mensaje('Registro actualizado!','El usuario {{usuario.id_usuario}} fue actualizado','usuario_modifica/')"></a>
                  </a>
                  --}}

              </td>
              </div>              
            </div>            
          </form>          
        </div>        
      </div>
      <HR width="50%">            
    </div>
  </div>
</div>


<script>
  //Si el titulo del mensaje es diferente de 0, envia un mensaje de creacción exitosa
  if ('{{mensaje.titulo}}'!='0'){
    // Envía mensaje via swal
    mensaje('{{mensaje.titulo}}','{{mensaje.detalle}}','{{mensaje.type}}');
  }
</script>